<!-- https://github.com/mpetroff/pannellum -->
<!-- https://miimo.tech/code/pannellum360vr/ -->
{% extends "base_menu.html" %}

{% block head %} 
{% load static %}
<link rel="stylesheet" href="{% static 'css/plant_list.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Plant Monitor</h1>
    <h3>
        Our Plant Monitor function is still under construction. It will be connected with our Raspi Automated Watering Plant System in the near future
        While under construction, feel free to play with 360 degree panorama views below 
    </h3>
    <div id="panorama"></div>
        <ul class="panorama-navs">
            <li><a data-item-url="../static/img/360-view-trees.jpeg"><img src="../static/img/360-view-trees.jpeg" alt=""></a></li>
            <li><a data-item-url="../static/img/360-view-shore.jpeg"><img src="../static/img/360-view-shore.jpeg" alt=""></a></li>
        </ul>
</div>
{% load static %}
<script src="{% static 'js/script_plant_list.js' %}" defer></script>
{% endblock %}