{% extends "base_menu.html" %}
{% block content %}
<h1>Recipes</h1>
<div style="float:right">
<!-- https://www.w3schools.com/howto/howto_css_search_button.asp -->
  <form>
    <input type="text" placeholder="Search.." name="search" {% if search %} value="{{ search }}" {% endif %}>
    <button type="submit"><i class="fa fa-search"></i></button>
    <a href="{% url 'onestop:all' %}"><i class="fa fa-undo"></i></a>
  </form>
  <br/>
  <a href="#" title="filter recipes by favorite (just a DOM manipulation)" id="sort-favarite">
    <span class="fa-stack">
      <i class="fa fa-star fa-stack-1x" style="color: orange;"></i>
      <i class="fa fa-star-o fa-stack-1x"></i>
    </span>
  </a>
  <a href="{% url 'onestop:all' %}" title="undo favorite filter on recipes (HTTP GET)"><i class="fa fa-undo"></i></a>
</div>
<p>
{% if recipe_list %}
<ul id="registered-recipe-list">
  {% for recipe in recipe_list %}
    <li style="display: block;" id="{{ recipe.id }}">
        <a href="{% url 'onestop:recipe_detail'  recipe.id %}">{{ recipe.title }}</a>
        {% if recipe.owner == user %}
        (<a href="{% url 'onestop:recipe_update' recipe.id %}">Edit</a> |
        <a href="{% url 'onestop:recipe_delete' recipe.id %}">Delete</a>)
        {% endif %}
        {% if user.is_authenticated %}
        <!-- Two hrefs with two stacked icons each - one showing and one hidden -->
        <a href="#" onclick=
            "favPost('{% url 'onestop:recipe_unfavorite' recipe.id %}', {{ recipe.id }});return false;"
            {% if recipe.id not in favorites %} style="display: none;" {% endif %}
            id="favorite_star_{{recipe.id}}">
        <span class="fa-stack" style="vertical-align: middle;">
        <i class="fa fa-star fa-stack-1x" style="color: orange;"></i>
        <i class="fa fa-star-o fa-stack-1x"></i>
        </span>
        </a>
        <!-- the second href -->
        <a href="#" onclick=
             "favPost('{% url 'onestop:recipe_favorite' recipe.id %}', {{ recipe.id }} );return false;"
            {% if recipe.id in favorites %} style="display: none;" {% endif %}
            id="unfavorite_star_{{recipe.id}}">
        <span class="fa-stack" style="vertical-align: middle;">
        <i class="fa fa-star fa-stack-1x" style="display: none; color: orange;"></i>
        <i class="fa fa-star-o fa-stack-1x"></i>
        </span>
        </a>
        {% endif %}
    </li>
  {% endfor %}
</ul>
{% else %}
  <p>There are no recipes in the database.</p>
{% endif %}
</p>
<p>
<a href="{% url 'onestop:recipe_create' %}">Add a Recipe</a> |
{% if user.is_authenticated %}
<a href="{% url 'logout' %}?next={% url 'onestop:all' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}?next={% url 'onestop:all' %}">Login</a>
{% endif %}
</p>
<P>
  <a href="{% url 'onestop:tag_list' %}">Tag list</a>

<!-- https://docs.djangoproject.com/en/4.1/howto/static-files/ -->
{% load static %}
<!-- https://docs.djangoproject.com/en/4.1/ref/templates/builtins/#json-script -->
{{ favorites|json_script:"favorites_json" }}
<script src="{% static 'script.js' %}" defer></script>

{% endblock %}