.parent {
    position: relative;
}

.child {
    position: relative;
    top: 0vh;
}

.div-cont {
    background-color: rgb(206, 205, 202);
    padding-top: 2%;
    border-radius: 20px;
}
