{% extends "base_menu.html" %}
{% block content %}
<h1>Welcome to {{ settings.APP_NAME }}</h1>
<h3>
    I know I am getting old.... Life is beautiful but sometimes harsh...
    I now have too many app icons on my PC Desktop, mobile and everywhere.
    And checking each app for a specific reason is getting really tiring....
    Thus, this website has been created for this utterly selfish purpose; I want everything I need at one place!!
    This web app will be my one-stop web app to keep my daily life running!
    The source code for this Django project is <a href="https://github.com/Tak2009/django-1" target="_blank">here</a>
</h3>
<br/>
<h2>&#128512; Menu Details &#128077 (&#x2b07; slide automatically otherwise click to slide &#x2b07;)</h2>
<br/>
<!-- スライダー -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <h4>
                            <strong>&#x1f958; &#x1f363;Recipes:</strong> Every year, I need to spend too much time to google specific recipes during the festive season.
                            I sometimes can get exactly the same reciepes I referred in the preveous year but sometimes NOT.
                            I always try keeping the URLs with high rated reviews for the next year but my "recordkeeping system" does not properly functioning.
                            To prevent from spending too much time to recover my important recipe URLs every year,
                            the "Recipes" menu will be my centralized recipe book.
                        </h4>
                    </div>
                    <div class="col-6"> 
                        <iframe src="https://giphy.com/embed/3ohze1W9gqYUDx7l2U" width="400" height="400" frameBorder="0" class="giphy-embed d-block w-100" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/bbc-cooking-wine-3ohze1W9gqYUDx7l2U">via GIPHY</a></p>
                        <!-- <img src="../static/img/sample1.jpg" class="d-block w-100" alt="..."> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <h4>
                            <strong>&#x1f431; &#x1f431;Cat Monitor:</strong> We used to have mice issues in our garage. Thus I built an auto motion detection night vision device with
                            <a href="https://github.com/Tak2009/raspi-2-motion-detect-sensor-oauth2-tk" target="_blank">Raspberry Pi and Python</a> to detect mice during night time. Now we have a cat and all the issues are gone!!
                            Thus, I have decided to use the device not only to monitor the cat but also keep the photo records as her own "blog posts".
                            She is a lovely cat but we do not know what she is doing during night time. Once a motion is detected by the device,
                            the device send the pic (as a hard evidence!) to the web server via HTTP POST request and the Cat Monitor menu can show whatever she does, her secret night life!!
                        </h4>
                    </div>
                    <div class="col-6"> 
                        <iframe src="https://giphy.com/embed/Ov5NiLVXT8JEc" width="400" height="400" frameBorder="0" class="giphy-embed d-block w-100" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cats-light-sabers-Ov5NiLVXT8JEc">via GIPHY</a></p>
                        <!-- <img src="../static/img/sample2.jpg" class="d-block w-100" alt="..."> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <h4>
                            <strong>&#x1f33c; &#x1f33b; Automated Watering Plant Device:</strong>No more dead plant during holiday! 2 devices developed wtih Raspberry Pi and Python
                            <a href="https://github.com/Tak2009/raspi-3-moisture-sensor-client-tk" target="_blank">this client</a> and <a href="https://github.com/Tak2009/raspi-3-water-pump-server-tk" target="_blank">this server</a>
                            A soil moisture sensor client checks the soil moisture on a daily basis and sends a signal to the water pump server to turn the pump on if the state of the soil is dry. 
                            Also all the daily check results are logged onto Google sheet via Google App Script (GAS).
                        </h4>
                    </div>
                    <div class="col-6">
                        <iframe src="https://giphy.com/embed/KhXEo7AR1sZoI" width="400" height="400" frameBorder="0" class="giphy-embed d-block w-100" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/loop-ants-escalator-KhXEo7AR1sZoI">via GIPHY</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

{% endblock content %}