{% extends "base_menu.html" %}
{% block content %}
    <h1>Cat Monitor</h1>
    <h3>Our Cat monitor function is still under construction. Will be connected with our real-time Raspi Monitor device in the near future</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <iframe src="https://giphy.com/embed/l2JJDdD7cv4xdGGis" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cat-cats-shurly-l2JJDdD7cv4xdGGis">via GIPHY</a></p>
            </div>
            <div class="col-6">
                <iframe src="https://giphy.com/embed/P93KMK1pNGWrHmp4jV" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/Studycat-cat-crane-studycat-P93KMK1pNGWrHmp4jV">via GIPHY</a></p>
            </div>
        </div>
    </div>

    <!-- カード -->
<div class="container py-4" id="cats">
    <h2>Cat Moves</h2>
    <p>Photos will be available shortly.Photos will be available shortly.Photos will be available shortly.</p>
    <div class="card-deck">
        <div class="card">
          <img src="../static/img/sample2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Work1</h5>
            <p class="card-text">Photos will be available shortly.Photos will be available shortly.Photos will be available shortly.</p>
            <p class="card-text"><small class="text-muted">Last updated 1 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="../static/img/sample2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Work2</h5>
            <p class="card-text">Photos will be available shortly.Photos will be available shortly.Photos will be available shortly.</p>
            <p class="card-text"><small class="text-muted">Last updated 2 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="../static/img/sample2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Work3</h5>
            <p class="card-text">Photos will be available shortly.Photos will be available shortly.Photos will be available shortly.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
    </div>
</div>


{% endblock content %}