{% extends "base_menu.html" %}
{% block content %}
    <h1>Welcome to {{ settings.APP_NAME }}</h1>
    <h3>
    Our Cat monitor function is still under construction. Will be connected with our real-time Raspi Monitor device in the near future
    </h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <iframe src="https://giphy.com/embed/l2JJDdD7cv4xdGGis" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cat-cats-shurly-l2JJDdD7cv4xdGGis">via GIPHY</a></p>
            </div>
            <div class="col-6">
                <iframe src="https://giphy.com/embed/P93KMK1pNGWrHmp4jV" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/Studycat-cat-crane-studycat-P93KMK1pNGWrHmp4jV">via GIPHY</a></p>
            </div>
        </div>
    </div>

{% endblock content %}