{% extends "base_menu.html" %}
{% block content %}
<h1>Cat Monitor</h1>
<h3>Our Cat monitor function is still under construction. It will be connected with our real-time Raspi Monitor device in the near future</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <iframe src="https://giphy.com/embed/l2JJDdD7cv4xdGGis" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cat-cats-shurly-l2JJDdD7cv4xdGGis">via GIPHY</a></p>
        </div>
        <div class="col-6">
            <iframe src="https://giphy.com/embed/P93KMK1pNGWrHmp4jV" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/Studycat-cat-crane-studycat-P93KMK1pNGWrHmp4jV">via GIPHY</a></p>
        </div>
    </div>
</div>
<br/>
<h4>The Flash - New Cat Moves: a motion deteced but the evidence pic is under review before published!</h4>
<h5>&#x26a1; Latest: {{ flash_list.0.created_at }} {{ flash_list.0.title }}</h5>
<ul class="slider">
    {% for pic in flash_list %}
    <li><a href="#"><span>{{ pic.created_at }}</span>&#x1f195; {{ pic.title }} &#x1f4f8;</a></li>
    {% endfor %}
</ul>
<h4>Updates - Hard Evidece Added: evidence pics added to the records below.</h4>
<h5>&#x26a1; Latest: {{ update_list.0.created_at }} {{ update_list.0.title }}</h5>
<ul class="slider">
    {% for pic in update_list %}
    <li><a href="#"><span>{{ pic.updated_at }}</span>&#x1f575; {{ pic.title }} &#x26a0;</a></li>
    {% endfor %}
</ul>


    <!-- カード -->
<div class="container py-4" id="cats">
    <h2>Cat Moves</h2>
    <p>Photos will be available shortly.Photos will be available shortly.Photos will be available shortly.</p>
    <div class="card-deck">
        <div class="card">
            <iframe src="https://giphy.com/embed/q1MeAPDDMb43K" width="350" height="225.33" frameBorder="0" class="giphy-embed, card-img-top" allowFullScreen title="via Giphy"></iframe>
            <!-- <img src="../static/img/sample2.jpg" class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h5 class="card-title">Move1</h5>
                <p class="card-text">Hard evidence photos will be available shortly.</p>
                <p class="card-text"><small class="text-muted">Last updated 1 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <iframe src="https://giphy.com/embed/xJjs8eGVbjNYY" width="350" height="225.33" frameBorder="0" class="giphy-embed, card-img-top" allowFullScreen title="via Giphy"></iframe>
            <!-- <img src="../static/img/sample2.jpg" class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h5 class="card-title">Move2</h5>
                <p class="card-text">Hard evidence photos will be available shortly.</p>
                <p class="card-text"><small class="text-muted">Last updated 2 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <iframe src="https://giphy.com/embed/f8ywYgttpGzzVPH5AO" width="350" height="225.33" frameBorder="0" class="giphy-embed, card-img-top" allowFullScreen title="via Giphy"></iframe>
            <!-- <img src="../static/img/sample2.jpg" class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h5 class="card-title">Move3</h5>
                <p class="card-text">Hard evidence photos will be available shortly.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>

{% load static %}
{{ favorites|json_script:"favorites-json" }}
<script src="{% static 'slider.js' %}" defer></script>


{% endblock %}